@import "{wolves:bourbon}/bourbon";

.centered {
  text-align: center;
}

.wheel-container {
  width: 100%;
  margin: auto;
  svg.wheel {
    width: 350px;
    height: 350px;
    circle {
      fill: #ffbb00;
    }
    .wedge {
      .facial-hair-style {
        font-family: monospace;
        font-weight: bold;
      }
      text.vertical {
        writing-mode: vertical-rl;
        text-orientation: upright;
        -webkit-writing-mode: vertical-rl;
        -webkit-text-orientation: upright;
        tspan {
        }
      }
    }
  }
}

.wheel-arrow {
  font-size: 20px;
  @include animation(pulse 3s ease infinite);
  @include filter(blur(0));
  @include transform(translateZ(0));
}

/* Animations */

@include keyframes(pulse) {
  0% { @include transform(scale(1)); }
  50% { @include transform(scale(1.25)); }
  100% { @include transform(scale(1)); }
}

