.centered {
  text-align: center;
}

.wheel-container {
  background: #ccc;
  width: 450px;
  height: 450px;
  margin: auto;
  svg.wheel {
    width: 350px;
    height: 350px;
    circle {
      fill: #ffbb00;
    }
    .wedge {
      .facial-hair-style {

      }
      text.vertical {
        writing-mode: tb-rl;
        -webkit-writing-mode: tb-rl;
        tspan {
          font-family: monospace;
          letter-spacing: 2px;
        }
      }
    }
  }
}

