@import "{wolves:bourbon}/bourbon";

body {
  padding-bottom: 2em;
}

.row-spaced,
.bottom-spaced {
  margin-bottom: 15px
}

.equal-margins.page-header {
  margin-top: 20px;
}

ul.rules {
  padding-left: 0;
  list-style-type: none;
  .rule {
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  svg { font-size: 10px }
}

@media (max-height: 768px) {
  svg { font-size: 10px }
}

@media (min-width: 769px) and (min-height: 769px) {
  svg { font-size: 14px }
}

.centered {
  text-align: center;
}

.wheel-container {
  width: 100%;
  margin: auto;
  svg.wheel {
    circle {
      fill: #ffbb00;
    }
    .wedge {
      .facial-hair-style {
        font-weight: bold;
        font-size: 1em;
      }
      text.vertical {
        writing-mode: vertical-rl;
        text-orientation: upright;
        -webkit-writing-mode: vertical-rl;
        -webkit-text-orientation: upright;
      }
    }
  }
}

.wheel-arrow {
  font-size: 20px;
  @include animation(pulse 3s ease infinite);
  @include filter(blur(0));
  @include transform(translateZ(0));
}

/* Animations */

@include keyframes(pulse) {
  0% { @include transform(scale(1)); }
  50% { @include transform(scale(1.25)); }
  100% { @include transform(scale(1)); }
}

